[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/permalink_fu"]
	path = vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
[submodule "vendor/plugins/query_stats"]
	path = vendor/plugins/query_stats
	url = git://github.com/dan-manges/query_stats.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/recaptcha"]
	path = vendor/plugins/recaptcha
	url = git://github.com/ambethia/recaptcha.git
[submodule "vendor/plugins/uberkit"]
	path = vendor/plugins/uberkit
	url = git://github.com/activefx/uberkit.git
[submodule "vendor/plugins/auto_migrations"]
	path = vendor/plugins/auto_migrations
	url = git://github.com/pjhyett/auto_migrations.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/activefx/open_id_authentication.git
[submodule "vendor/plugins/pseudo_cursors"]
	path = vendor/plugins/pseudo_cursors
	url = git://github.com/sml/pseudo_cursors.git
[submodule "vendor/plugins/footnotes"]
	path = vendor/plugins/footnotes
	url = git://github.com/activefx/rails-footnotes.git
