<h1>Change your password</h1>

<% form_tag url_for(:action => 'create') do %>
  
	<div class="field_row">
		<label for="old_password" class="block">Old Password</label>
  	<%= password_field_tag 'old_password', @old_password, :size => 45 %><br />
	</div>

	<div class="field_row">
  	<label for="password" class="block">New Password</label>
  	<%= password_field_tag 'password', {}, :size => 45 %>
  	<span class="description">Between 6 and 40 characters</span><br />
	</div>

	<div class="field_row">
  	<label for="password_confirmation"  class="block">Confirm New Password</label>
  	<%= password_field_tag 'password_confirmation', {}, :size => 45 %><br />
	</div>

  <%= submit_tag 'Change Password' %>
<% end %>


