<h1>Roles for <%=h @user.login %></h1>
<% form_for #update roles do |f| -%>
<ul> 
	<% for role in @roles %>
		<li><%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> <%= role.name %></li>
  <% end %>
</ul> 

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
