<h1>All Users</h1>
<% if_in_beta? do -%>
	<p><%= link_to 'Manage Beta Invitations for All Users', admin_invites_path %> |
<%= link_to 'Pending Beta Users', admin_invite_actions_path %></p>
<% end -%>
  <table>
    <tr>
      <th>Login</th>
      <th>Email</th>
			<th>Active?</th>
      <th>Enabled?</th>
      <th>Roles</th>
			<% if_in_beta? do -%>
				<th>Invitations</th>
			<% end -%>
    </tr>
      <%= render :partial => 'user', :collection => @users %>
  </table>

	<%= will_paginate @users %>
