<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"    
 "http://www.w3.org/TR/html4/strict.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PROJECTNAME: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

  <% render :partial => "users/user_bar" %>
  	
	<% ubermenu 'nav' do |m| %>
	  <% m.action 'Home', root_path %>
    <%# if current_user.has_role?('admin') %>
	    <%# m.submenu 'Administer Users', services_path do |s| %>
	      <%# s.action 'Edit Roles', service_path('a') %>
	    <%# end %>
		<%# end %>
	<% end %>

	<%= yield %>

</body>
</html>
