<h1>Control Panel</h1>

	<ul>
    <li><%= link_to "Administer Users (#{@users})", admin_users_path %></li>
		<li><%= link_to "Logged Exceptions (#{@exceptions})", logged_exceptions_path %></li>
	</ul>
